<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="syscache3" type="NHibernate.Caches.SysCache3.SysCacheSection, NHibernate.Caches.SysCache3" />
  </configSections>

  <connectionStrings>
    <add name="db"
         connectionString="Data Source=.\sqlexpress;Initial Catalog=Northwind;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add
          name="textWriterTraceListener"
          type="System.Diagnostics.TextWriterTraceListener"
          initializeData="C:\temp\log4net.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
  <syscache3>
    <cacheRegion name="FiveSecondsCache" relativeExpiration="5" priority="Default" />
    <cacheRegion name="DefaultCache" relativeExpiration="3600" priority="Default">
      <dependencies>
        <commands>
          <add name="cust" command="select CustomerId from dbo.Customers" />
        </commands>
        <!--<files>
          <add name="test1" path="c:/tmp/test.txt" />
          <add name="test2" path="Test.txt" />
        </files>-->
      </dependencies>
    </cacheRegion>
  </syscache3>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender, log4net">
      <layout type="log4net.Layout.PatternLayout, log4net">
        <param name="ConversionPattern" value="%d %p %m%n" />
      </layout>
    </appender>

    <root>
      <priority value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <system.web>
    <caching>
      <sqlCacheDependency enabled="true" pollTime="1000">
        <databases>
          <add name="db2" connectionStringName="db" />
        </databases>
      </sqlCacheDependency>
    </caching>
  </system.web>
  <appSettings>
    <add key="log4net.Internal.Debug" value="false" />
  </appSettings>
</configuration>