<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net45" />
  <package id="log4net" version="1.2.11" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net45" />
  <package id="NHibernate.Caches.SysCache3" version="1.0.4" targetFramework="net45" />
  <package id="NHibernateProfiler" version="2.0.2221.0" targetFramework="net45" />
  <package id="WebActivator" version="1.4.4" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
</packages>